.activity-card {
  padding: 5px;
  text-overflow: initial;
  border: solid;
  border-width: 5px;
  width: 450px;
  height: 400px;
  margin: auto;
  background-color: #6cd7dd;
  color: #364f6b;
  font-weight: bolder;
  margin-top: 50px;
}

.activity-info {
  padding-top: 10px;
  font-size: 25px;
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.delete-btn {
  background-color: white;
  color:#364f6b;
  font-weight: bolder;
}

.add-activity-btn {
  border-color: #364f6b;
  border-width: 3px;
  background-color: white;
  color: #364f6b;
  font-size: 15px;
  font-weight: bolder;
}
