.footer {
  position: fixed;
  border: solid;
  border-width: 2px;
  border-color: #364f6b;
  left: 0px;
  bottom: 0;
  background-color: #6cd7dd;
  width: 100%;
  text-align: center;
  font-size: 10px;
}