.form-input-box {
  font-size: 25px;
  margin-left: 10px;
  float: right;
}

.form {
  display: table;
  margin: auto;
  font-size: 25px;
}

.label-text {
  float: left;
}

.asterisk {
  float: left;
  color: #fc5185;
}

.input-description {
  font-size: smaller;
}

.form-text {
  text-align: center;
}

.submit-btn {
  border-color: #364f6b;
  border-width: 3px;
  background-color:white;
  color: #364f6b;
  font-size: 18px;
  font-weight: bolder;
  width: 80px;
  height: 30px;
}
