.navigation-bar {
  text-align: center;
}

.link {
  font-size: 18px;
  width: 60%;
  margin: 5% 0 1%;
  padding: 15px;
  text-decoration: none;
  color: #364f6b;
  background-color: #6cd7dd;
  text-align: center;
  /* text-shadow: 1px 1px 1px; */
}